@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

ul {
  margin-inline: auto;
  list-style-type: none;
  min-width: 350px;
}

.App {
  text-align: center;
  height: 100vh;
}

.App-header {
  background-color: #282c34;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-family: 'Anton', sans-serif;
  color: white;
  margin-bottom: 5rem;
}

/* AudioPlayer Container */

.player-container {
  margin-inline: auto;
  max-width: min-content;
  padding: 5rem;
}