@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

ul {
  margin-inline: auto;
  list-style-type: none;
  min-width: 350px;
}

.App {
  text-align: center;
  height: 100vh;
}

.App-header {
  background-color: #282c34;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-family: 'Anton', sans-serif;
  color: white;
  margin-bottom: 5rem;
}

.cover_list {
  width: 45px;
}

/* AudioPlayer Container */

.player-container {
  margin-inline: auto;
  max-width: min-content;
  padding: 5rem;
}

/* Controls */

.music-player--controls {
  max-width: 300px;
  margin: 35px auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.music-player--controls .play-btn {
  margin-left: 2rem;
  margin-right: 2rem;
  font-size: 1.5rem;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  transition: all 0.25s cubic-bezier(0.4, 0, 1, 1);
}

.play-btn:focus {
  color: rgba(110, 2, 26, 0.95);
}

.play-btn:hover {
  transform: scale(1.3);
  color: rgba(171, 2, 26, 0.95);
}

.music-player--controls .skip-btn {
  font-size: 1rem;
  border: none;
  outline: none;
  background: none;
  transition: all 0.25s cubic-bezier(0.4, 0, 1, 1);
  cursor: pointer;
}

.skip-btn:hover {
  transform: scale(1.2);
  color: rgba(171, 2, 26, 0.95);
}

/* List */

.list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0px;
  border-bottom: 1px solid #ccc;
  transition: all 0.25s cubic-bezier(0.4, 0, 1, 1);
}

.list-item-cover-title {
  display: flex;
  align-items: center;
  text-align: left;
}

.list-item-cover-title img {
  width: 45px;
  height: 45px;
  border-radius: 7px;
  margin-right: 14px;
}

.list-item-play-btn {
  padding: 0.7rem;
  font-size: 1rem;
  border: none;
  outline: none;
  background: none;
  transition: all 0.25s cubic-bezier(0.4, 0, 1, 1);
  cursor: pointer;
}

.list-item-play-btn:hover {
  transform: scale(1.1);
  color: rgba(171, 2, 26, 0.95);
}

.like-btn {
  border: none;
  outline: none;
  background: none;
  margin-left: 10px;
  transition: all 0.25s cubic-bezier(0.4, 0, 1, 1);
  cursor: pointer;
}

.like-btn:hover {
  transform: scale(1.1);
}

.liked {
  color: red;
}

.faHeart {
  color: white;
}

.playing-track {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
	border-radius: 5px;
  transform: scale(1.05);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  transition: all 0.45s cubic-bezier(0.4, 0, 1, 1);
	background: inherit;
	background: white;
  z-index: 2;
}